<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="P12Certificate" value="C:\Users\hdelnegro\Desktop\Automation-22766700a041.p12" />
    <add key="P12CertificatePassword" value="notasecret" />
    <add key="ServiceAccountEmail" value="automationservice@automation-149615.iam.gserviceaccount.com" />
    <add key="SpreadSheetId" value="1oQyxKHb8TWoc_3yadZdGSh1NmOW56CsoSsfSYyGA7Ic" />
    <add key="Range" value="A:C" />
    <add key="ApplicationName" value="Automation" />
    <add key="OutputXmlFile" value="C:\Users\hdelnegro\Desktop\FeatureTags.xml" />
  </appSettings>
</configuration>